html, body {
  --primary-color: #2196F3;
  --primary-color-text: #ffffff;
  --hover-background-color: #e9ecef;
  --font-family: 'Noto Sans';
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--pankow-text-color);
  overflow: hidden;
  overscroll-behavior: none;
}

#app {
  height: 100%;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  .container {
    background-color: black;
    color: var(--pankow-color-light-dark);
  }
}

.main-container-footer {
    display: flex;
    padding: 10px;
    background-color: #f8f9fa;
    justify-content: center;
}
